#about-section {
    background-color: whitesmoke;
}

.about-text {
    padding-top: 50px;
    padding-left: 30px;
}

#about-paragraph {
    padding-left: 30px;
    width: 60%;
    padding-bottom: 50px;
}

#about-image-container {
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px 15px 15px 15px;
}

#about-image {
    width: 100%;
    height: auto;
}

#about-question-button{
    font-size: 12px;
    background-color: #004e77;
    color: white;
    float: right;
    margin-top: 25px;
    margin-bottom: 50px;
}
