#juices-section {
    padding-bottom: 30px;
}

#juices-info {
    padding-right: 15px;
}

.juices-text {
    padding-top: 50px;
    padding-left: 30px;
}

#juices-paragraph {
    padding-left: 30px;
    padding-bottom: 50px;
}

#juices-image-container {
    margin-top: 50px;
    margin-bottom: 15px;
    max-height: 300px;
    overflow: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 15px 0 15px;
}

.juices-pic {
    cursor: pointer;
}

#juices-image {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 960px) {
    .determine-order {
        order: -1;
    }
}

@media only screen and (min-width: 960px) {
    .determine-order {
        order: +1;
    }
}