#devices-section {
    background-color: whitesmoke;
    padding-bottom: 30px;
}

#devices-info {
    padding-right: 15px;
    padding-left: 15px;
}

.devices-text {
    padding: 15px 30px 0 15px;
}

#devices-paragraph {
    padding: 15px 30px 0 15px;
}

#devices-image-container {
    margin-top: 50px;
    max-height: 300px;
    overflow: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 15px 0 15px;
}

.devices-pic {
    cursor: pointer;
}

#devices-image {
    cursor: pointer;
    width: 100%;
    height: auto;
}